/* #Site Styles
================================================== */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body { font: 16px/23px 'Open Sans', Arial, serif; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

li { line-height: 24px }

a { color: #43ACCC; }
a:hover {color: #349CBC; }
a:visited { color: #67BCD5; }

header { 
  margin-bottom: 30px; 
  padding-top: 20px;
  background: linear-gradient(#ffa000, #ff8300); 
  border-bottom: 1px solid #e0e0e0; 
}

header h1 { 
  font-size: 20px; 
  padding: 10px 0; 
  margin: 0; 
  float: left;
  background: url(/joosy/img/logo.png) no-repeat;
  width: 246px;
  height: 80px;
  text-indent: -9999em;
}

header h1 a:hover,
header h1 a:visited,
header h1 a { font-weight: bold; text-decoration: none; display: block; color: #ffeccc; }
header h1 a img { 
  border-radius: 2px; 
  padding: 1px; 
  background: white; 
  box-shadow: 1px 1px 1px rgba(0,0,0,.3); 
  margin-right: 15px;
  vertical-align: middle;
  width: 26px;
  height: 26px;
}

header .nav {
  float: right;
  margin-top: 2em;
  font-size: 17px;
}

section.topbar {
  background: #3c3c3c;
  background: linear-gradient(#3c3c3c, #2a2a2a);
  padding-top: .8em;
  margin-bottom: -1em;
  font-size: .7em;
  text-align: center;
}

section.topbar a {
  color: #ffa000;
  font-weight: bold;
}

section.topbar a.disabled {
  color: gray;
  text-decoration: none;
  font-weight: bold;
}

section.topbar li {
  margin: 0;
  padding: 0 .8em 0 .5em;
  border-right: .1em solid #626262;
}

section.topbar li:last-child {
  border-right: none;
}

header .nav li, section.topbar li {
  display: inline;
  list-style: none;
}

header .nav li {
  margin: 0 0 0 0.8em;
}

header .nav li a {
  color: #ffffff;
  text-decoration: none;
}

header .nav .index {
  padding: .4em 1em;
  background: #f23900;
  background: linear-gradient(#fe4d00, #f23900);
  border-radius: .5em;
  position: relative;
}

h2.section { 
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: arial, helvetica, sans-serif;
}

iframe, object { margin-bottom: 1em; }

footer { 
  font-size: 14px;
  font-family: 'Merriweather', serif;
  font-weight: bold; 
  text-shadow: 0 1px 0 white;
  color: #777; 
  text-align: right; }
footer .columns { 
  position: relative; 
  padding: 20px 0; 
  border-top: 1px solid #e0e0e0; }
footer a { text-shadow: none; color: #222; }
footer .twitter { position: absolute; left: 0; top: 20px; }

.permalink { text-align: right; }
.permalink a { text-transform: uppercase; font-size: 8pt; color: #888; }

abbr.published { 
  color: #666; font-size: 14px;
  font-family: 'Merriweather', serif; }
abbr.published a { color: #666; text-decoration: none; }
  
.post-list h1 { margin-bottom: 25px }
.post-list ul { list-style: none; }
.post-list ul li { margin-bottom: 20px; font-size: 0.8em }
.post-list ul li h3 { font-size: 20px; line-height: 29px; font-weight: 500; text-shadow: 0 1px 0 white; }
.post-list ul li h3 a { text-decoration: none; border-bottom: 1px solid #e0e0e0; }

article { margin-bottom: 3em; }
article p,
article li, 
article blockquote,
article h4,
article h4,
article h5,
article h6,
article h6,
article h6,
article hr, 
article table { max-width: 700px; }

article ul { list-style: disc outside; margin-left: 2em; }
article blockquote { font-size: 14px; line-height: 19px; padding: 0 12px; margin: 20px 8px; }
article blockquote p { font-family: 'Merriweather', serif; font-size: 13px; font-style: normal; }

article .entry-header { margin-bottom: 20px; }
article .entry-header h2 { margin: 20px 0; }
article .entry-header a { text-decoration: none; border-bottom: 0; }
article .entry-header a:hover { border-bottom: 1px solid #CCC; }
article .entry-header .published a { border: 0; color: #888; }

article .entry-content h1 { font-size: 19pt; }
article .entry-content h2 { font-size: 17pt; }
article .entry-content h3 { font-size: 14pt; }
article .entry-content h4 { font-size: 12pt; }
article .entry-content h5 { font-size: 10pt; font-weight: bold; }
article .entry-content h6 { font-size: 10pt; margin-bottom: .3em; color: #f1cf22; }

article .metadata { font-size: 11px; color: #888; }
article .metadata p { margin-bottom: 0; }
article .metadata a { color: #666; }

sup { vertical-align: .2em; font-size: 80%; margin: -2px 0 0 2px; }

p img { max-width: 100%; }
code, pre { font-family: "Andale Mono", "courier-new", courier, monospace; }
code { background: #F0F0F0; border-radius: 3px; font-size: 16px; }
pre { margin: 20px 0;
      font-size: 13px; }
small { font-size: 80%; }

/* .container, .container .sixteen.columns { width: 480px; } */

.MathJax_Display * { color: #222 !important; }

@media only screen and (max-width: 767px) {
  
  header { margin-bottom: 15px; }
  header h1 { padding: 10px 0; }
  footer { font-size: 11px; }
  footer .twitter { position: static; }
  article .entry-header h2 { font-size: 22px; margin: 10px 0; }
  abbr.published { font-size: 11px; }
  
  .post-list ul li { margin-bottom: 6px; }
  .post-list ul li abbr { margin-bottom: 0px; }
  .post-list ul li h2 { font-size: 16px; line-height: 24px; }
  
  article p,
  article li, 
  article blockquote,
  article h4,
  article h4,
  article h5,
  article h6,
  article h6,
  article h6,
  article hr, 
  article table { max-width: none; }
}

.wip {
  font-size: 18px;
  font-weight: bold;
  color: #CC0000;
  text-align: center;
  margin-top: 30px;
}