%dl.pull-left
  %dt Joosy и Rails
  %dd
    %ul
      %li
        %a{:href => "/guides/1.2/ru/rails/init.html"} Установка и генераторы
  %dt.inner Ресурсы Joosy
  %dd
    %ul
      %li
        %a{:href => "/guides/1.2/ru/rails/resources/preparations.html"} Подготовка Backend
      %li
        %a{:href => "/guides/1.2/ru/rails/resources/main.html"} Основные возможности
      %li
        %a{:href => "/guides/1.2/ru/rails/resources/autogeneration.html"} Авто-генерация
      %li
        %a{:href => "/guides/1.2/ru/rails/resources/filters-and-associations.html"} Фильтры и ассоциации
      %li
        %a{:href => "/guides/1.2/ru/rails/resources/pagination.html"} Разбиение на страницы
      %li
        %a{:href => "/guides/1.2/ru/rails/resources/cacher.html"} Cacher
      %li
        %a{:href => "/guides/1.2/ru/rails/resources/identity-map.html"} Identity Map
      %li
        %a{:href => "/guides/1.2/ru/rails/resources/alternate-accessors.html"} Альтернативный интерфейс акцессоров
  %dt.inner Рендеринг
  %dd
    %ul
      %li
        %a{:href => "/guides/1.2/ru/rails/render/pages-layouts.html"} Страницы и лейауты
      %li
        %a{:href => "/guides/1.2/ru/rails/render/templates.html"} Шаблоны
      %li
        %a{:href => "/guides/1.2/ru/rails/render/routing.html"} Роутинг
      %li
        %a{:href => "/guides/1.2/ru/rails/render/elements-events.html"} Элементы и события
      %li
        %a{:href => "/guides/1.2/ru/rails/render/forms.html"} Формы
      %li
        %a{:href => "/guides/1.2/ru/rails/render/filters.html"} Фильтры
      %li
        %a{:href => "/guides/1.2/ru/rails/render/dynamic-rendering.html"} Динамический рендеринг
      %li
        %a{:href => "/guides/1.2/ru/rails/render/helpers.html"} Хэлперы
      %li
        %a{:href => "/guides/1.2/ru/rails/render/widgets-and-modules.html"} Виджеты и модули
      %li
        %a{:href => "/guides/1.2/ru/rails/render/animations.html"} Анимация
  %dt.inner Дополнительные возможности
  %dd
    %ul
      %li
        %a{:href => "/guides/1.2/ru/rails/advanced/config.html"} Конфигурация Joosy
      %li
        %a{:href => "/guides/1.2/ru/rails/advanced/events.html"} События Joosy
      %li
        %a{:href => "/guides/1.2/ru/rails/advanced/preloading.html"} Предзагрузка JS-файлов
%dl.pull-right
  %dt Основы Joosy
  %dd
    %ul
      %li
        %a{:href => "/guides/1.2/ru/basics/understanding-joosy.html"} Как устроен Joosy
      %li
        %a{:href => "/guides/1.2/ru/basics/why-joosy.html"} Почему Joosy
  %dt.inner Joosy и Node.js
  %dd
    %ul
      %li
        %a{:href => "/guides/1.2/ru/nodejs/init.html"} Генерация приложения
