%dl.pull-left
  %dt Основы Joosy
  %dd
    %ul
      %li
        %a{:href => "/guides/1.2/ru/basics/understanding-joosy.html"} Как устроен Joosy
      %li
        %a{:href => "/guides/1.2/ru/basics/why-joosy.html"} Почему Joosy
  %dt Joosy и Rails
  %dd
    %ul
      %li
        %a{:href => "/guides/1.2/ru/rails/init.html"} Создание Rails-приложения
      %li
        %a{:href => "/guides/1.2/ru/rails/connect-joosy.html"} Создание Joosy-приложения в Rails
  %dt Ресурсы Joosy
  %dd
    %ul
      %li
        %a{:href => "/guides/1.2/ru/resources/main.html"} Основные возможности
      %li
        %a{:href => "/guides/1.2/ru/resources/autogerenation.html"} Автоматическая генерация в Rails
      %li
        %a{:href => "/guides/1.2/ru/resources/filters-and-associations.html"} Фильтры и ассоциации
      %li
        %a{:href => "/guides/1.2/ru/resources/pagination.html"} Разбиение на страницы
      %li
        %a{:href => "/guides/1.2/ru/resources/cacher.html"} Cacher
      %li
        %a{:href => "/guides/1.2/ru/resources/identity-map.html"} Identity Map
      %li
        %a{:href => "/guides/1.2/ru/resources/alternate-accessor-iface.html"} Альтернативный интерфейс акцессоров
  %dt Рендеринг
  %dd
    %ul
      %li
        %a{:href => "/guides/1.2/ru/render/pages-layouts.html"} Страницы и лейауты
      %li
        %a{:href => "/guides/1.2/ru/render/templates.html"} Шаблоны
      %li
        %a{:href => "/guides/1.2/ru/render/routing.html"} Роутинг
      %li
        %a{:href => "/guides/1.2/ru/render/elements-events.html"} Элементы и события
      %li
        %a{:href => "/guides/1.2/ru/render/forms.html"} Формы
      %li
        %a{:href => "/guides/1.2/ru/render/filters.html"} Фильтры
      %li
        %a{:href => "/guides/1.2/ru/render/dynamic-rendering.html"} Динамический рендеринг
      %li
        %a{:href => "/guides/1.2/ru/render/helpers.html"} Хэлперы
      %li
        %a{:href => "/guides/1.2/ru/render/widgets-and-modules.html"} Виджеты и модули
      %li
        %a{:href => "/guides/1.2/ru/render/animations.html"} Анимация
  %dt Дополнительные возможности
  %dd
    %ul
      %li
        %a{:href => "/guides/1.2/ru/advanced/events.html"} События Joosy
      %li
        %a{:href => "/guides/1.2/ru/advanced/preloading.html"} Предзагрузка JS-файлов
  %dt Использование Joosy с Node.js
  %dd
    %ul
      %li
        %a{:href => "/guides/1.2/ru/nodejs/init.html"} Генерация приложения
