.entry-content.v-1-2

  hr.additional
    border-top: 5px dashed gray
    margin-top: 40px
    margin-bottom: 40px

  .black_wheel
    background: image-url('versions/1.1/tab_grey.gif') no-repeat scroll left top #eeeeee
    padding: 0.25em 1em 0.5em 48px
    margin-bottom: 1.5em
    line-height: 1.25em !important
    p, pre
      margin: 0 0
      border: 0px
      background: none

  .warning
    background: image-url('versions/1.1/tab_red.gif') no-repeat scroll left top #f9d9d8
    border: medium none
    margin-left: 0
    margin-top: 0.25em
    padding: 1.25em 1.25em 1.25em 48px
    margin-bottom: 1.5em
    line-height: 1.25em !important
    p
      margin: 0px
    a
      color: #980905 !important

  .info
    background: image-url('versions/1.1/tab_info.gif') no-repeat scroll left top #d5e9f6
    border: medium none
    margin: 0.25em 0 1.5em
    padding: 1em 1em 0.25em 48px
    margin-bottom: 1.5em
    line-height: 1.25em !important
    p
      margin: 0 0 20px
    a
      color: #980905 !important

    code
      color: #333

  
  code
    font-size: 16px

  h4
    margin-top: 20px

  h5, h6
    margin-bottom: 0
    font-weight: bold
    background-color: lightgrey
    padding-left: 4.3em
    border-radius: 4px 4px 0px 0px
    line-height: 22px

  div.highlight
    pre
      border-radius: 0px 0px 4px 4px

    margin-bottom: 15px
  
  span.inline-highlight
    color: #999999
    font-weight: bold
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace

  p
    padding-top: 0px
    padding-top: 10px