#contribute-page .jumbotron {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 40px;
  background-color: white; }
  #contribute-page .jumbotron h1 {
    margin-top: 0px;
    margin-bottom: 20px; }
  #contribute-page .jumbotron p {
    padding-top: 20px; }
#credits-page .media-list {
  margin-left: 40px; }
  #credits-page .media-list .media-body {
    padding-top: 10px;
    padding-left: 20px;
    max-width: 600px; }
.entry-content.v-1-1 table.comparison {
  width: 100%;
  border: 1px gray dashed; }
  .entry-content.v-1-1 table.comparison b {
    font-weight: bold; }
  .entry-content.v-1-1 table.comparison th {
    padding: 10px;
    text-align: center; }
  .entry-content.v-1-1 table.comparison td {
    padding: 10px;
    text-align: center; }
    .entry-content.v-1-1 table.comparison td.y {
      background-color: #afff9c; }
    .entry-content.v-1-1 table.comparison td.n {
      background-color: #ff9c9c; }
    .entry-content.v-1-1 table.comparison td.m {
      background-color: #fcff9c; }
  .entry-content.v-1-1 table.comparison th {
    text-align: left;
    background-color: #eeeeee;
    white-space: nowrap;
    font-weight: normal; }
    .entry-content.v-1-1 table.comparison th.title {
      font-weight: bold; }
.entry-content.v-1-1 hr.additional {
  border-top: 5px dashed gray;
  margin-top: 40px;
  margin-bottom: 40px; }
.entry-content.v-1-1 .black_wheel {
  background: url(/assets/versions/1.1/tab_grey-e208ab7e7b4b12af73c7566800be9ce8.gif) no-repeat scroll left top #eeeeee;
  padding: 0.25em 1em 0.5em 48px;
  margin-bottom: 1.5em;
  line-height: 1.25em !important; }
  .entry-content.v-1-1 .black_wheel p, .entry-content.v-1-1 .black_wheel pre {
    margin: 0 0;
    border: 0px;
    background: none; }
.entry-content.v-1-1 .warning {
  background: url(/assets/versions/1.1/tab_red-1f022f89f1313998c271cc4c5634a128.gif) no-repeat scroll left top #f9d9d8;
  border: medium none;
  margin-left: 0;
  margin-top: 0.25em;
  padding: 1.25em 1.25em 1.25em 48px;
  margin-bottom: 1.5em;
  line-height: 1.25em !important; }
  .entry-content.v-1-1 .warning p {
    margin: 0px; }
  .entry-content.v-1-1 .warning a {
    color: #980905 !important; }
.entry-content.v-1-1 .info {
  background: url(/assets/versions/1.1/tab_info-3e08befc799caeba8f699140b0d36e41.gif) no-repeat scroll left top #d5e9f6;
  border: medium none;
  margin: 0.25em 0 1.5em;
  padding: 1em 1em 0.25em 48px;
  margin-bottom: 1.5em;
  line-height: 1.25em !important; }
  .entry-content.v-1-1 .info p {
    margin: 0 0 20px; }
  .entry-content.v-1-1 .info a {
    color: #980905 !important; }
.content header p {
  color: white;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 22px; }
  .content header p a {
    color: white;
    display: block;
    font-size: 13px;
    text-decoration: underline; }
    .content header p a:hover {
      text-decoration: none; }
.content header .nav {
  margin-top: 15px; }
  .content header .nav li.active a {
    background-color: #f23900; }
    .content header .nav li.active a:hover {
      color: white; }
  .content header .nav a {
    color: white; }
    .content header .nav a:hover {
      color: #f23900; }
  .content header .nav a.drop:hover {
    background-color: #666666;
    color: white; }
.content header #guides {
  display: none;
  background: none repeat scroll 0 0 #f23900;
  border-radius: 4px;
  box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.25);
  color: #f1938c;
  padding: 15px 40px;
  position: absolute;
  right: 0;
  width: 500px;
  z-index: 10;
  line-height: 1.3em !important; }
  .content header #guides.open {
    display: block; }
  .content header #guides dt.inner {
    margin-top: 25px; }
  .content header #guides a:hover {
    color: white;
    text-decoration: underline; }
.content section.main {
  padding-top: 10px;
  padding-bottom: 20px; }
  .content section.main article p img {
    max-width: 100%; }
  .content section.main .versions {
    padding-top: 20px;
    font-size: 25px;
    width: 600px;
    margin: auto; }
    .content section.main .versions .pull-right {
      font-size: 13px; }
    .content section.main .versions h2 {
      font-size: 20px; }
    .content section.main .versions .version {
      font-size: 16px; }
