%dl.pull-left
  %dt Joosy basics
  %dd
    %a{:href => "/guides/1.1/en/basics/getting-started.html"} Getting Started
  %dd
    %a{:href => "/guides/1.1/en/basics/joosy-vs-x.html"} Joosy vs X
  %dt.inner Creating a blog on Joosy
  %dd
    %a{:href => "/guides/1.1/en/blog/rails-preparations.html"} Rails preparations
  %dd
    %a{:href => "/guides/1.1/en/blog/resources.html"} Resources
  %dd
    %a{:href => "/guides/1.1/en/blog/layouts-pages-and-routing.html"} Layouts, Pages and Routing
  %dd
    %a{:href => "/guides/1.1/en/blog/elements-events-and-filters.html"} Elements, Events and Filters
  %dd
    %a{:href => "/guides/1.1/en/blog/dynamic-rendering.html"} Dynamic rendering
  %dd
    %a{:href => "/guides/1.1/en/blog/widgets.html"} Widgets
  %dd
    %a{:href => "/guides/1.1/en/blog/helpers.html"} Helpers
  %dd
    %a{:href => "/guides/1.1/en/blog/forms.html"} Forms
  %dd
    %a{:href => "/guides/1.1/en/blog/preloaders.html"} Preloaders
  %dd
    %a{:href => "/guides/1.1/en/blog/load-unload-and-in-progress-animations.html"} Load, unload, animations
%dl.pull-right
  %dt Advanced guides
  %dd
    %a{:href => "/guides/1.1/en/advanced/search-engines-indexing.html"} Search engine indexing
  %dd
    %a{:href => "/guides/1.1/en/advanced/authentication.html"} Authentication
  %dd
    %a{:href => "/guides/1.1/en/advanced/permissions-and-acl.html"} Permissions and ACL
  %dd
    %a{:href => "/guides/1.1/en/advanced/how-to-switch-template-engine.html"} Template engines