---
layout: index
section: contribute
title: "Contribute"
---

#contribute-page

  .jumbotron
    .container
      %h1
        %i.icon-thumbs-up
        We need you!
      %p
        Guides are incredibly important and we are always up to improve it here or there.
        %strong
          If you want to help – we'll make best to stay out of your way.
      %p
        All the information about the development process (as well as the repository itself) is
        %a{href: "https://github.com/joosy/joosy/"}
          on Github.
        Internally we use Markdown and Jekyll to maintain things here.
      %p
        Feel free to ping us with any questions at
        %code
          irc.freenode.net/#joosy
        or twitter as well.