---
layout: index
section: credits
title: "Credits"
---

#credits-page

  %h2
    Maintainers

  %hr

  %ul.media-list
    %li.media
      %a.pull-left{href: 'http://staal.io'}
        %img{src: 'http://www.gravatar.com/avatar/7c4ac3f00d81fbb8ba329163b3dc6b2a.png?size=91', height: 91, width: 91}
      .media-body
        %h4.media-heading
          Boris Staal
        Ruby-world open-source enthusiast working as an evangelist at
        %a{:href => "http://www.evl.ms"} Evil Martians.
        Makes open-source work and people smile!

    %li.media
      %a.pull-left
        %img{src: '{% asset_path pages/anonymous.gif %}', height: 91, width: 91}
      .media-body
        %h4.media-heading
          Andrew Shaydurov
        Ruby fan, CoffeeScript lover. CTO of the MainPeople network. Addicted to start-ups, commercials, web-interfaces and playing piano.

    %li.media
      %a.pull-left
        %img{src: 'http://www.gravatar.com/avatar/0dd4414dec1137cde9a69f41090c6735.png?size=91', height: 91, width: 91}
      .media-body
        %h4.media-heading
          Alexander Pavlenko
        Impressive description goes here ;).