#guides {
    background: none repeat scroll 0 0 #F23900;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.25);
    color: #F1938C;
    display: block;
    padding: 2em 2em 1.5em;
    position: absolute;
    right: 0;
    top: 1.2em;
    width: 27em;
    z-index: 10;
    left:5.2em;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 1.3em !important;
    behavior: url(PIE.htc);
   }

#guides hr {
    background: none repeat scroll 0 0 #F1938C;
    border: medium none;
    color: #F1938C;
    display: block;
    height: 1px;
    margin:8px 0 !important;
}

#guides .L, #guides .R {
    float: left;
    margin: 0;
    padding: 0;
    width: 50%;
}

#guides .R {
    float: right;
}


#guides dt {
    margin: 0.5em 0 0 !important;
    padding: 0;
}

#guides dt, #guides dd {
    font-size: 0.74em !important;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: left;
    
}

#header .nav .index a {
    background: url("../images/nav_arrow.gif") no-repeat scroll right top #980905;
    padding-bottom: 0.125em;
    padding-right: 1em;
    position: relative;
    z-index: 15;
}

#header .nav a {
    color: #FFFFFF;
    text-decoration: none;
}

#guides a {
    background: none repeat scroll 0 0 transparent !important;
    color: #FFFFFF;
}
#guides a:hover {
	text-decoration: underline;
}

#guides a:visited {
    color: #EE3F3F;
    text-decoration: underline;
}

a.index {
	background: url("../images/nav_arrow.gif") no-repeat scroll right top #980905;
    padding: 0 0 0.125em 0 !important;
    padding-right: 1em;
    position: relative;
    z-index: 15;
    
}
